In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from scipy.io import arff
%matplotlib inline

In [2]:
dataset = pd.read_csv('diamonds.csv')

In [3]:
dataset.shape

(53940, 11)

In [4]:
dataset.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x',
       'y', 'z', 'price'],
      dtype='object')

In [11]:
# drop the index column
dataset = dataset.drop(dataset.columns[0], axis=1)
dataset.isnull().values.any()
print((dataset[(dataset[['x']] == 0).all(axis=1)]))
print((dataset[(dataset[['y']] == 0).all(axis=1)]))
print((dataset[(dataset[['z']] == 0).all(axis=1)]))

       depth  table    x     y    z  price
11182   61.6   56.0  0.0  6.62  0.0   4954
11963   63.3   53.0  0.0  0.00  0.0   5139
15951   57.5   67.0  0.0  0.00  0.0   6381
24520   62.2   54.0  0.0  0.00  0.0  12800
26243   62.1   59.0  0.0  0.00  0.0  15686
27429   62.8   59.0  0.0  0.00  0.0  18034
49556   64.1   60.0  0.0  0.00  0.0   2130
49557   64.1   60.0  0.0  0.00  0.0   2130
       depth  table    x    y    z  price
11963   63.3   53.0  0.0  0.0  0.0   5139
15951   57.5   67.0  0.0  0.0  0.0   6381
24520   62.2   54.0  0.0  0.0  0.0  12800
26243   62.1   59.0  0.0  0.0  0.0  15686
27429   62.8   59.0  0.0  0.0  0.0  18034
49556   64.1   60.0  0.0  0.0  0.0   2130
49557   64.1   60.0  0.0  0.0  0.0   2130
       depth  table     x     y    z  price
2207    59.1   59.0  6.55  6.48  0.0   3142
2314    58.1   59.0  6.66  6.60  0.0   3167
4791    63.0   59.0  6.50  6.47  0.0   3696
5471    59.2   58.0  6.50  6.47  0.0   3837
10167   64.0   61.0  7.15  7.04  0.0   4731
11182   61.6   56.0  0.00  6.62  0.0   4954
11963   63.3   53.0  0.00  0.00  0.0   5139
13601   59.2   56.0  6.88  6.83  0.0   5564
15951   57.5   67.0  0.00  0.00  0.0   6381
24394   59.4   61.0  8.49  8.45  0.0  12631
24520   62.2   54.0  0.00  0.00  0.0  12800
26123   61.3   58.0  8.52  8.42  0.0  15397
26243   62.1   59.0  0.00  0.00  0.0  15686
27112   61.2   59.0  8.42  8.37  0.0  17265
27429   62.8   59.0  0.00  0.00  0.0  18034
27503   62.7   53.0  8.02  7.95  0.0  18207
27739   63.8   58.0  8.90  8.85  0.0  18788
49556   64.1   60.0  0.00  0.00  0.0   2130
49557   64.1   60.0  0.00  0.00  0.0   2130
51506   60.4   59.0  6.71  6.67  0.0   2383

In [ ]:
dataset.head()

In [ ]:
for column in dataset.columns:
    print(column, ":", dataset[column].unique(),"\n")

In [ ]:
dataset.describe()

In [ ]:
dataset.y.value_counts()

In [ ]:
dataset.groupby("y").mean()